* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #a3a3a3;
  overflow: hidden;
}

.head {
  width: 200px;
  height: 70vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, 10%);
  transition-duration: 0.25s;
}

.head_outline {
  width: 100%;
  height: 70vh;
  position: absolute;
  overflow: hidden;
}

.mouth {
  width: 70%;
  height: 5%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate(-50%, 20%);
  transition: 0.25s;
}

.ears {
  width: 120%;
  height: 7%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 12%;
  left: -10%;
  transition: 0.25s;
}

.ears div {
  height: 100%;
  width: 20%;
  background-color: #000;
  border-radius: 50%;
}

.eyes {
  width: 84%;
  height: 7%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 12%;
  left: 8%;
  transition: 0.25s;
}

.eyes div {
  height: 100%;
  width: 60px;
  background-color: #fff;
  border-radius: 50%;
}
