* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: hsl(227, 47%, 96%);
    --font-color: #000000;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: hsl(230, 17%, 14%);
    --color-accent: #12cdea;
    --font-color: #ffffff;
}
#all {
    padding: 20px 0px;
    background: var(--color-secondary);
}
#header {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px;
}

h1 {
    color: var(--font-color);
    font-family: sans-serif;
}
#header p {
    color:  #626567;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.container div {
    margin: 15px auto;
    text-align: center;
    width: 270px;
    height: 100%;
    background: var(--color-accent);
    border-radius: 5px;
}
.container h1 {
    font-size: 60px;
    font-weight: bold;
}
.container span {
    padding-bottom: 3px;
}
#direction img {
    padding-bottom: 3px;
}
.container p {
    font-size: 20px;
    color:  #626567;
    margin: 10px;
}
.face {
    border-top: 3px solid hsl(195, 100%, 50%);
}
.twit {
    border-top: 3px solid  hsl(203, 89%, 53%);
}
.inst {
    border-top: 3px solid hsl(329, 70%, 58%);
}
.you {
    border-top: 3px solid hsl(348, 97%, 39%);
}
#all h2 {
    margin-top: 20px;
    color: var(--font-color);
    font-family: sans-serif;
    margin-left: 70px;
}
.main div {
    margin: 30px auto;
    text-align: center;
    width: 270px;
    height: 100%;
    background: var(--color-accent);
    border-radius: 5px;

}
.main p {
    color:  #626567;
    margin: 8px;
}
#fbicon1, #fbicon2 {
    margin-top: 45px;
}
#yticon1, #yticon2 {
    margin-top: 45px;
}
#twicon1, #twicon2 {
    margin-top: 45px;
}
#inicon1, #inicon2{
    margin-top: 45px;
}






/*  */
#header button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}
  
input:checked + .slider {
    background-color: #2196f3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}